.game-container {
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header__buttons {
    display: flex;
    gap: 4px;
}

.score {
    display: flex;
    height: 37px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    background-color: #BBADA0;
    padding: 2px 10px;
    border-radius: 4px;
    font-size: 10px;
    text-transform: uppercase;
}

.score__value {
    font-size: 12px;
    font-weight: 800;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 12px;
    padding: 12px;
    border-radius: 4px;
    background-color: #BBADA0;
}

.game-over {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(187, 173, 161, 0.6);
}
